{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Website</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'section1/css/styles.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'section1/images/pngwing.com (19).png' %}" type="image/x-icon">
</head>
<body>

<!-- Navigation links -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <span class="hi-text">Hi there!</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#jumbotron">Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-me-section">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills-section">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects-section">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#goals-section">Goals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience-section">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education-section">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-me-section">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Jumbotron -->
<div class="jumbotron" id="jumbotron">
  <video autoplay loop muted playsinline>
      <source src="{% static 'section1/videos/matrix-code-rain-moewalls-com.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  <div class="jumbotron-overlay">
    <div class="container">
      <h1>Welcome to My Website!</h1>
    </div>
    <div class="overlay-text">
    </div>
  </div>
</div>


<!-- Main content -->
<div class="main-content" id="about-me-section">
    <div class="container">
        <h2>About Me</h2>
        <p>I am a HyperionDev Software Engineering Bootcamp graduate with a 100% pass rate and placed in the top 2 overall. I have a passion for programming and enjoy solving problems with code, which I also pursue as a hobby in my spare time. I love spending time at my PC, exploring new technologies, and enhancing my skills.</p>
    </div>
  </div>
  

<!-- Image Section -->
<section id="image-section" class="section">
  <div class="container">
    <div class="image-container">
      <img src="{% static 'section1/images/500x500.jpg' %}" alt="Image" id="scroll-image">
    </div>
  </div>
</section>

<!-- Skills Section -->
<section id="skills-section" class="section">
    <div class="container">
        <h2>Skills</h2>
        <div class="row">
            <div class="col">
                <h3>Programming languages:</h3>
                <ul class="skill-list">
                    <li>
                        <a href="https://www.python.org/" target="_blank">
                            <img src="{% static 'section1/images/logos/7-2-python-logo-free-download-png.png' %}" alt="Python Logo">
                            Python
                        </a>
                    </li>
                    <li>
                        <a href="https://dart.dev/" target="_blank">
                            <img src="{% static 'section1/images/logos/Dart-logo.png' %}" alt="Dart Logo">
                            Dart
                        </a>
                    </li>
                    <li>
                        <a href="https://www.sqlite.org/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (2).png' %}" alt="SQL Logo">
                            SQL
                        </a>
                    </li>
                    <li>
                        <a href="https://html.spec.whatwg.org/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (1).png' %}" alt="HTML Logo">
                            HTML
                        </a>
                    </li>
                    <li>
                        <a href="https://www.w3.org/Style/CSS/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (3).png' %}" alt="CSS Logo">
                            CSS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h3>Frameworks:</h3>
                <ul class="skill-list">
                    <li>
                        <a href="https://www.djangoproject.com/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (4).png' %}" alt="Django Logo">
                            Django
                        </a>
                    </li>
                    <li>
                        <a href="https://firebase.google.com/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (5).png' %}" alt="Firebase Logo">
                            Firebase
                        </a>
                    </li>
                    <li>
                        <a href="https://vuejs.org/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (6).png' %}" alt="Vue.js Logo">
                            Vue.js
                        </a>
                    </li>
                    <li>
                        <a href="https://getbootstrap.com/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (7).png' %}" alt="Bootstrap Logo">
                            Bootstrap
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pygame.org/" target="_blank">
                            <img src="{% static 'section1/images/logos/pygame_logo.png' %}" alt="Pygame Logo">
                            Pygame
                        </a>
                    </li>
                    <li>
                        <a href="https://flutter.dev/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (8).png' %}" alt="Flutter Logo">
                            Flutter
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h3>Other Skills:</h3>
                <ul class="skill-list">
                    <li>
                        <a href="https://github.com/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (9).png' %}" alt="GitHub Logo">
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://git-scm.com/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (10).png' %}" alt="Git Bash Logo">
                            Git Bash
                        </a>
                    </li>
                    <li>
                        <a href="https://www.docker.com/" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (11).png' %}" alt="Docker Logo">
                            Docker
                        </a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Problem_solving" target="_blank">
                            <img src="{% static 'section1/images/logos/pngwing.com (12).png' %}" alt="Problem Solving Logo">
                            Problem Solving
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </section>




<!-- Projects Section -->
<section id="projects-section" class="section">
  <div class="container">
      <h2>Projects</h2>
      <div class="project-container">
          <a href="https://github.com/The-Bug-CTRL?tab=repositories" target="_blank">
              <div class="project-image">
                  <img src="{% static 'section1/images/e9c6ec80-8902-11eb-9f55-5de819da8bf5.jpg' %}" alt="Project Image" class="project-img">
              </div>
          </a>
          <div class="arrow-container">
              <img src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\logos\pngwing.com (25).png' %}" alt="Arrow Image" class="arrow-img">
              <p>Click The Image To See My GitHub Projects</p>
          </div>
      </div>
  </div>
</section>


<!-- Goals Section -->
<section id="goals-section" class="section">
    <div class="container">
        <h2 class="text-center">Goals</h2>
        <div class="row align-items-center">
            <div class="col-md-8 offset-md-2 order-md-2 text-center">
                <p>My overarching goal is to continuously grow and expand my knowledge, driven by a passionate commitment to learning within the programming field. I aspire to enhance my proficiency by gaining hands-on experience across diverse programming languages and delving into the intricacies of problem-solving through code. With a steadfast dedication to continuous improvement and diligent effort, I aim to progress steadily and further enrich my expertise over time.</p>
            </div>
                <img src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\pngwing.com (15).png' %}" alt="Goals Image" class="goal-img">
            </div>
        </div>
    </div>
</section>



<!-- Experience Section -->
<section id="experience-section" class="section">
    <div class="container">
        <h2>Experience</h2>
        <!-- Add your paragraph here -->
        <p>At this stage of my career, I find myself at the beginning of a journey filled with opportunities for growth and learning. I am eager to immerse myself in real-world work environments where I can glean invaluable insights from seasoned mentors and experienced professionals. Presently, I am committed to absorbing knowledge and honing my skills, with the aim of securing a position that offers ample opportunities for learning and hands-on experience. My ultimate goal is to steadily progress through my career, embarking on a fulfilling journey of continuous learning and advancement within the realms of programming and coding.</p>
        <div class="experience-container">
          <!-- Make sure the path to the image is correct -->
          <img src="{% static 'section1/images/pngwing.com (16).png' %}" alt="Trophy Image" class="trophy-img">
          <!-- Add the image directly without the pop-up animation -->
        </div>
    </div>
</section>

<!-- Education Section -->
<section id="education-section" class="section">
    <div class="container">
        <h2>Education</h2>
        <div class="education-container">
            <div class="education-item">
                <div class="image-with-text">
                    <img src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\pngwing.com (17).png' %}" alt="Image 1" class="education-img" style="float: left; margin-right: 20px;">
                    <p class="education-text">Cambridge International, international — IGCSE, A-Levels<br>
                        January 1st 2008 - June 30th  2023 
                    </p>
                </div>
            </div>
            <div class="education-item">
                <div class="image-with-text">
                    <img src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\Hyperiondev-logo.jpg' %}" alt="Image 2" class="education-img rounded-image" style="float: right; margin-left: 20px;">
                    <p class="education-text">HyperionDev,  Online -Bootcamp Certificate<br>
                        September 5th 2023  - December 5th 2023<br>
                        HyperionDev bootcamp marks and certificate:<br>
                        <a href="https://www.hyperiondev.com/portfolio/192753/" class="certificate-link" target="_blank">View Certificate</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Contact Me Section -->
<section id="contact-me-section" class="section">
    <div class="container">
        <h2>Contact Me</h2>
        <P>Click To Copy</P>
        <div class="contact-container">
            <div class="contact-method">
                <img src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\logos\pngwing.com (21).png' %}" alt="Email Logo" class="contact-logo">
                <p class="contact-info" id="email" onclick="copyToClipboard('email')">theandrewsargeant1@gmail.com</p>
            </div>
            <div class="contact-method">
                <img src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\logos\pngwing.com (20).png' %}" alt="Phone Logo" class="contact-logo">
                <p class="contact-info" id="phone" onclick="copyToClipboard('phone')">+27 72 223 7419</p>
            </div>
            <!-- Add more contact methods -->
            <div class="contact-method">
                <img src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\logos\pngwing.com (24).png' %}" alt="LinkedIn Logo" class="contact-logo">
                <button class="linkedin-button">
                    <a href="https://www.linkedin.com/in/andrew-sargeant-360574226/" target="_blank">LinkedIn Profile</a>
                </button>
            </div>
        </div>
        <div class="cv-download">
            <p>Download my CV:</p>
            <a id="cv-download-button" href="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\images\pdf\CV (3).pdf' %}" download>Download PDF</a>
        </div>
    </div>
</section>




<!-- Footer -->
<footer class="footer">
  <div class="container">
      <!-- Footer content -->
  </div>
</footer>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Custom JavaScript -->
<script src="{% static 'C:\Users\thean\OneDrive\Desktop\⠀\codeing folder\personalwebsite\section1\static\section1\js\script.js' %}"></script>
</body>
</html>
